$red: #e52236;
$dark-black: #000000;
$black: #303133;
$light-black: #525457;
$dark-gray: #606266;
$gray: #909399;
$light-gray: #e4e7ed;

.fs-16 {
  font-size: 16px !important;
}

.fs-18 {
  font-size: 18px !important;
}

.fs-20 {
  font-size: 20px !important;
}

.fs-24 {
  font-size: 24px !important;
}

.fs-26 {
  font-size: 26px !important;
}

.fs-28 {
  font-size: 28px !important;
}

.fs-30 {
  font-size: 30px !important;
}

.fb {
  font-family: GraphikLCG Medium;
  font-weight: bold;
}

.color-red {
  color: $red !important;
}

.color-dark-black {
  color: $dark-black !important;
}

.color-black {
  color: $black !important;
}

.color-light-black {
  color: $light-black !important;
}

.color-dark-gray {
  color: $dark-gray !important;
}

.color-gray {
  color: $gray !important;
}

.color-light-gray {
  color: $light-gray !important;
}

.ml-10 {
  margin-left: 10px !important;
}

.ml-20 {
  margin-left: 20px !important;
}

.ml-30 {
  margin-left: 30px !important;
}

.ml-40 {
  margin-left: 40px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.mt-40 {
  margin-top: 40px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.fl {
  float: left !important;
}

.fr {
  float: right !important;
}

.flex {
  display: flex;
  align-items: center;
}

.el-input {
  .el-input__inner {
    height: 40px;
    line-height: 40px;
    border-radius: 4px;
    border: solid 1px $gray;
  }
}

.el-form-item.is-success .el-input__inner,
.el-form-item.is-success .el-input__inner:focus,
.el-form-item.is-success .el-textarea__inner,
.el-form-item.is-success .el-textarea__inner:focus {
  //border-color: $gray;
}

.el-button {
  height: 40px;
  &.el-button--primary {
    //background-color: $red;
    //border-color: $red;
  }
}

.icon {
  display: inline-block;
  background-size: 100% 100%;
  background-position: center center;
  vertical-align: middle;
}

.icon-menu-logo {
  background-image: url("../assets/images/logo.png");
  width: 20px;
  height: 20px;
}
